<footer>
    <p id="copyright">&copy Joshua Holland & Team</p>
    <div class="container">
        <div class="row">
            <div style="text-align: center; border-right: 1px solid grey; height: 200px;" class="col-sm-4"><p>address<br>1111 W fresno street<br>93700, Fresno CA</p></div>
            <div class="col-sm-4"></div>
            <div style="text-align: center; border-left: 1px solid grey; height: 200px;" class="col-sm-4"></div>
        </div>
    </div>
</footer>