<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EAS</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    
    <body>
        <% include partials/header %>
        <br />
        <br />
        <br />
        <br />
        <h1>You must be logged in to view this page.</h1>
        <ul>
            <li class="navlist" ><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="navlist" ><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </body>
</html>