<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EAS</title>
        <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
        <link rel="icon" href="img/favicon.ico">
    </head>
    <body>
        
        <% include partials/header %>
        
        <div class="container-fluid hero parallax-home">
            <div id="myCarousel" class="container carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
	            <div class="carousel-inner" role="listbox">
                    <div class="item active" id="slide1">
                        <h1>Welcome to the<br>Employee Assignment<br>Software!</h1>
                    </div>
                    <div class="item" id="slide2">
                        <h1>Create and manage<br>employee schedules!</h1>
                    </div>
                    <div class="item" id="slide3">
                        <h1>Sign up for a free account<br>to get started!</h1>
                    </div>
                </div>
            </div>
            <div>
                <%if (typeof user !='undefined') { %>
                    <a href="/about" id="getStartedBtn">
                        <button class="start-button btn btn-success btn-lg">Make Your Schedules!</button>
                    </a>
                <% } else {%>
                    <a href="/signup" id="getStartedBtn">
                        <button class="start-button btn btn-success btn-lg">Get Started!</button>
                    </a>
                <% }%>
            </div>
        </div>
        
        <div class="row grey-background">
            
        <div class="container">
            <div style="margin-top: 60px;"><h1 style="text-align: center;">Begin using EAS in 3 easy steps!</h1></div>
                 <hr style="margin-top: 30px; margin-bottom: 30px;">
                 <div class="col-md-4"><h2 style="text-align: center;">Step 1</h2><p style="text-align: center;"> Dont have an account? Create your free account by clicking <a href="signup">here</a>. </p></div>
                 <div class="col-md-4"><h2 style="text-align: center;">Step 2</h2><p style="text-align: center;"> Log in <a href="login">here</a> to gain access to all the features EAS offers.</p></div>
               <div style="margin-bottom: 60px;" class="col-md-4"><h2 style="text-align: center;">Step 3</h2><p style="text-align: center;"> Upload an Excel sheet of your Company's employees and begin using EAS today!</p></div>
        </div>
            
            <div id="wrapper"style="padding:0;" class="container">
                <div class="parallax-banner">
                    
                    <div class="container">
                        <div style="color: #1b5c91; text-shadow: 2px 1px #FFFFFF;">
                                  <h2 style="padding-top: 40px;" class="text-center"><strong>A simple tool that goes a long way</strong></h2>
                                      <h3 class="text-center"><strong>Built with employers in mind</strong></h3>
                                        <ul class="text-center">
                                            
                                          <li class="info-banner col-md-4 col-sm-12 col-xs-12">  
                                            <h3><strong>Make time count</strong></h3>
                                              <strong><br />We all know that time is money so <br />
                                              why waste it on something that <br />
                                              could be automated. EAS takes care <br />
                                              of the details so that you can <br />
                                              focus on your business.</strong>
                                          </li>
                                          <li class="info-banner col-md-4 col-sm-12 col-xs-12">           
                                            <h3><strong>Keep things fair</strong></h3>
                                            <strong><br />EAS uses an efficient algorithm <br>
                                              to evenly distribute tasks among <br>
                                              workers. This means workers won't <br>
                                              be stuck doing the same routine. </strong>
                                          </li>
                                          <li class="info-banner col-md-4 col-sm-12 col-xs-12">
                                            <h3><strong>Increase productivity</strong></h3>
                                            <strong><br /> Don't let lack of interests<br>
                                            hurt productivity. EAS helps boost <br>
                                            your employees' interest by <br>
                                            letting them experience different <br>
                                            tasks. </strong>
                                          </li>
                                        </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <% include partials/footer %>
        </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
</html>

