<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lifeguard Tracking</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
    </head>
    <body>
        
        <% include partials/header %>

        <div class="container-fluid hero">
            <div id="myCarousel" class="container carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
	            <div class="carousel-inner" role="listbox">
                    <div class="item active" id="slide1">
                        <h1>Sign Up Now,<br>Its Free!</h1>
                    </div>
                    <div class="item" id="slide2">
                        <h1>Easy to use<br>interface</h1>
                    </div>
                    <div class="item" id="slide3">
                        <h1>Perfect for bussinesses such as:<br>waterparks, ski-resorts, and any<br>other randomized position assignment.</h1>
                    </div>
                </div>
            </div>
            <div>
                <button class="start-button btn btn-success btn-lg">Get Started!</button>
            </div>
        </div>
        <div class="row grey-background">
            <div class="container">
                <div class="col-md-4"><h1 style="text-align: center;">phrase 1</h1><p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad voluptas modi facilis qui, molestias sequi impedit quasi. Non, asperiores.</p></div>
                <div class="col-md-4"><h1 style="text-align: center;">phrase 2</h1><p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam exercitationem eius obcaecati expedita quae, consequatur, inventore voluptatum, officiis repudiandae cum quibusdam, minima?</p></div>
                <div class="col-md-4"><h1 style="text-align: center;">phrase 3</h1><p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse sit tenetur, culpa aperiam harum reprehenderit expedita veniam autem ratione animi.</p></div>
            </div>
        </div>
        <% include partials/footer %>
        </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
</html>

