<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lifeguard Tracking</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
    </head>
    <body>
        
         <!--HEADER STARTS HERE-->
        <header>
            <nav style="background-color: rgba(0,0,0,.65)" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> 
                            </button>
                            <!--TITLE BUTTON / LOGO-->
                            <a class="navbar-brand" href="/">Employee Tracker</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <!--RIGHT HAND SIDE NAV BAR-->
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="about">App</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!--HEADER ENDS HERE-->
        
        <!--BODY STARTS HERE-->

        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
	            <div class="carousel-inner" role="listbox">
                    <div class="item active" id="slide1">
                    </div>
                    <div class="item" id="slide2">
                    </div>
                    </div class="item" id="slide3">
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
        
        </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</html>

