<% include partials/header %>

<div class="container-fluid">
    <div id="hero-carousel" class="carousel slide" data-ride="carousel">
	    <div class="carousel-inner" role="listbox">
            <div class="item active" id="slide1">
            </div>
            <div class="item" id="slide2">
            </div>
        </div>
    </div>
<!--<h1>HOME</h1>-->
<!--<a href="/about">About</a>-->
<% include partials/footer %>
