<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EAS</title>
  <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/login.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
  <link rel="icon" href="img/favicon.ico">
</head>


<body class="signup-background-color">
  <% include partials/header %>
    <div class="container-fluid">
    <div class="well signup-well-margin col-md-offset-3 col-md-6 col-md-12">
        <ul>
        <div>
          <h1 class="text-center" style="font-family: Supermercado One; padding-top: 30px;">EAS</h1>
        </div>
        <hr>
        
          <p class="text-center signup-form-text-size">
            <strong>Log in</strong>
          </p>
          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger">
              <%= message %>
            </div>
            <% } %>
              <form class="center-block" action="/login" method="post">

                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" name="email" placeholder="E-mail" required>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                  </div>
                  
                <div style="padding-left: 150;" class="row form-inline">
                    <div class="form-group col-xs-4 col-sm-4">
                      <label></label><input type="checkbox" class="form-control" name="rememberme" value="yes"> Remember Me</label>
                    </div> 
                    <div class="col-xs-4 col-sm-4">
                      <button style="float: left;"class="cetner-block login-button btn btn-warning btn-sm" type="submit">Login</button>
                    </div>
                </div>
              </form>
              <div>
              <p class="text-center">Dont have an account?
                <a href="/signup">Signup</a>
              </p>
              </div>
              
              <hr>
              
              <div>
                <p class="small-text-signup text-center">
                  If you click Log in and are not a EAS user, you will be registered and agree to Spotify's Terms & Conditions and Privacy Policy.
                </p>
              </div>
        </ul>
      </div>
    </div>
    <% include partials/footer %>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
</html>