<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" /> 
        <link rel="stylesheet" type="text/css" href="css/login.css" /> 
    </head>
    <!--HEADER STARTS HERE-->
        <header>
            <nav style="background-color: rgba(0,0,0,.65)" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> 
                            </button>
                            <!--TITLE BUTTON / LOGO-->
                            <a class="navbar-brand" href="/">Employee Tracker</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <!--RIGHT HAND SIDE NAV BAR-->
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="about">App</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!--HEADER ENDS HERE-->
        
        <!--BODY STARTS HERE-->

<body class="signup-background-color">
    
    <div class="container-fluid">
      <div class="well signup-well-margin">
        <ul>
          <p class="text-center signup-form-text-size"><strong>Login with your email address</strong></p>
          <form class="center-block">
            <input class="center-block" placeholder="E-mail" type="text" required>
            <input class="center-block" placeholder="Password" type="text" required>
            <button class="cetner-block signup-button" type="submit">Login</button>
          </form>
        </ul>
      </div>
    </div>

</body>
</html>