<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Maintenance">
	  <meta name="keywords" content="web design, Lifeguard Employee Tracking System web design">
  	<meta name="author" content="Lifeguard Employee Tracking System">
    <title>Lifeguard Employee Tracking System | Welcome</title>
    <link rel="stylesheet"type="text/css" href="./css/maintenance.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Maintenance</span>PAGE</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="maintenance.ejs">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Lifeguard Employee Tracking System</h1>
        <p>Will Be right back .</p>
      </div>
    </section>

    <footer>
      <p>Lifeguard Employee Tracking System, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
