 <!--HEADER STARTS HERE-->
        <header>
            <nav style="background-color: rgba(0,0,0,.65)" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> 
                            </button>
                            <!--TITLE BUTTON / LOGO-->
                            <a class="navbar-brand" href="/">Employee Tracker</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <!--RIGHT HAND SIDE NAV BAR-->
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Pricing</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!--HEADER ENDS HERE-->
        
        <!--BODY STARTS HERE-->
<h1>Site is under maintenance. Try again later.</h1>