<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css" /> 
        <link rel="stylesheet" type="text/css" href="css/signup_style.css" /> 
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    </head>

  <% include partials/header %>

<body class="signup-background-color">
    
    <div class="container-fluid">
      <div class="well signup-well-margin">
        <ul>
          <p class="text-center signup-form-text-size"><strong>Sign up with your email address</strong></p>
          <form class="center-block">
            <input class="center-block" placeholder="E-mail" type="text" required>
            <input class="center-block" placeholder="Password" type="text" required>
            <button class="cetner-block signup-button" type="submit">Sign Up</button>
          </form>
        </ul>
      </div>
    </div>

</body>
</html>