<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EAS</title>
  <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/login.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
  <link rel="icon" href="img/favicon.ico">
</head>


<body class="signup-background-color">
    <div class="container-fluid">
      <div class="signup-well-margin">
        <div>
          <h1 class="text-center" style="font-family: Supermercado One; padding-top: 30px;">EAS</h1>
        </div>
        <hr>
        <ul>
          <p class="text-center signup-form-text-size">
            <strong>Sign up with your email</strong>
          </p>
          <form class="center-block" action="/signup" method="post">

            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username"  maxlength="20" required>
              </div>

            <div class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control" name="email"  placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control"  placeholder="Password" name="password" required>
              </div>
            <div>
              <p class ="small-text-signup text-center">
                By clicking on Sign up, you agree to EAS's <a href="#">terms & conditions</a> and <a href="#">privacy policy</a> 
              </p>
            </div>
          <div style="text-align: center;">
            <button class="cetner-block signup-button" type="submit">Sign Up</button>
          </div>
          <div>
            <p class ="small-text-signup text-center">
              Already have an account? <a href="/login">Log in</a> 
            </p>
          </div>
          </form>
        </ul>
      </div>
      </div>
    </div>
    <% include partials/footer %>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
</html>