<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/navbar.css" /> 
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    </head>

<body>
    
<div class="containter fluid">
  <header class="header-color header-fixed">
        <img class="small-image translucent-pic header-margin logo-z-index" src="http://www.clker.com/cliparts/q/r/2/L/A/d/leaping-stag-hi.png">
        </img>
<div class="font-white">
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
  </div>
  </header>
<div>
    <img class="image-large" src="https://cdn.photographylife.com/wp-content/uploads/2012/04/Nikon-D3200-Image-Sample-1.jpg"></img>
</div>

</body>
</html>