<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" /> 
        <link rel="stylesheet" type="text/css" href="css/login.css" /> 
    </head>
 
    
    <body class="signup-background-color">
        <% include partials/header %>
        <div class="container-fluid">
          <div class="well signup-well-margin">
            <ul>
              <p class="text-center signup-form-text-size"><strong>Sign Up!</strong></p>
              <form action="/register" method="POST" class="center-block">
                <input class="center-block" name="username" placeholder="Username" type="text" required>
                <!--<input class="center-block" name="E-mail" placeholder="E-mail" type="text" required>-->
                <input class="center-block" name="password" placeholder="Password" type="password" required>
                <button class="cetner-block signup-button" type="submit">Sign Up</button>
              </form>
            </ul>
          </div>
        </div>
        <% include partials/footer %>
    </body>
    
</html>