<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="css/unknown.css">
  </head>
  <body>
  	
  	<div id="container">
  		<header>
  			<div>
					<nav>
						<ul>
							<a class="unlistHead" href="url.com"><li>Login</li></a>
							<a class="unlistHead" href="url.com"><li>Home</li></a>
						</ul>
					</nav>
				</div>
  		</header>
  		
  		<h1 id="error"> Error </h1>
  		 	 			
 	 		<div id="belowHeader">
  			The URL request was not found.
  			<p id="insideBelowHeader"> That page does not exist.</p>
  		</div>
  		
  		<footer>
				<div>
					<nav>
						<ul>
							<a class="unlist" href="url.com"><li>About</li></a>
							<a class="unlist"href="url.com"><li>Contact Us</li></a>
							<a class="unlist" href="url.com"><li>Privacy</li></a>
						</ul>
					</nav>
				</div>
			</footer>
			
  	</div>
  	
  </body>
</html>