	<!DOCTYPE html>
<html>
<head>
	<title>Unknown page</title>
	<link rel="stylesheet" type="text/css" href="css/unknown.css">
</head>
<body>
	<header>
			<div>
				<h1 id="error">Error</h1>
			</div>
			<nav>
				<ul>
					<a class="unlist" href="url.com"><li>Return home</li></a>
					<a class="unlist" href="url.com"><li>Log In</li></a>
				</ul>
			</nav>
	</header>
	<div>
		<h3>Oops...We're sorry, but that url does not exist.</h3>
		<h3>We apologize for any inconvenience while we resolve this issue.</h3>
		<h3>-JASAJ Team</h3>
		<img src="https://static.pexels.com/photos/279949/pexels-photo-279949.jpeg" style="height: 700px;width: 1200px;">
	</div>
	<footer>
		<div>
			<nav>
				<ul>
					<a href="url.com"><li>About</li></a>
					<a href="url.com"><li>Contact us</li></a>
					<a href="url.com"><li>Privacy</li></a>
				</ul>
			</nav>
		</div>
	</footer>
	<h6> &copy 2017 JASAJ, Inc. </h6>

</body>
</html>