<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/unknown.css">
    
  </head>
  <body>
  	<div id="highTop"></div>
  	<div id="container">
      <% include partials/header %>
  		
  		<h1 id="error"> Error </h1>
  		 	 			
 	 		<div id="belowHeader">
  			The URL request was not found.
  			<p id="insideBelowHeader"> That page does not exist.</p>
  		</div>
  		
      <% include partials/footer %>
			
  	</div>
  	
  </body>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/header.js"></script>
</html>