
<!DOCTYPE html>
<html>
<body background="w3s.png">

<h1>Hello world!</h1>
<p><a href="https://nodedev-n1k3light.c9users.io/">Visit W3Schools.com!</a></p>
<p>The background attribute is not supported HTML5. Use CSS instead.</p>

</body>
</html>
