<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="css/unknown.css">
  </head>
  <body>
  	<div id="contrainer">
  	
  		<header>
  			<h1 id="error"> Error </h1>
  		</header>
  	
 	 	<div id="belowHeader">
  			The URL request was not found
  			<p id="insideBelowHeader"> That page does not exists.</p>
  		</div>

		<footer>
			<div>
				<nav>
					<ul>
						<a href="url.com"><li>About</li></a>
						<a href="url.com"><li>Contact us</li></a>
						<a href="url.com"><li>Privacy</li></a>
					</ul>
				</nav>
			</div>
		</footer>
  	</div>
  </body>
</html>