.signup-well-margin{
    margin: 80px 30% 60px 30%;
}
.signup-background-color{
    background-color: white;
}

.signup-form-text-size{
    font-size: 20px;
}
.signup-form-padding{
    padding: 30px 30px 30px 30px;
}

.signup-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 70%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 240px;
    height: 32px;
}

.small-text-signup{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
}

input[type=checkbox] {
  transform: scale(1.);
}