.signup-background-color{
    background-color: #add8e6;
}

.signup-form-text-size{
    font-size: 32px;
}
.signup-form-padding{
    padding: 30px 30px 30px 30px;
}

.signup-button{
    background-color: #4CAF50;
    width: 30%;
    height: 60px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin:0 auto;
}

.form-input-styles{
    width: 30%;
    height: 40px;
    margin-top: 30px
}

.form-text-styles{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.form-header-styles{
    margin-top: 140px;
    margin-bottom: 15px;
    text-align: center;
}

.form-text-link:hover{
    text-decoration: none;
}

.form-label-styles{
    color: grey;
    font-size: 11px;
}

.login-button{
    background-color: #4CAF50;
    width: 10%;
    height: 30px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-radius: 14px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 0 auto;
}

.login-button-styles{
    margin: 0 auto;
    transition: .5s ease;
}

.login-filler-margin{
    margin-bottom: 140px;
}

.login-divider-styles{
    width: 18%;
}