.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

/*Header Starts Here*/

.navbar {
    /*background-color: rgba(204, 255, 255, .5);*/
    background-color: rgba(255, 255, 255, .5);
    height: 70px;
    border: hidden;
    position: absolute;
}

.navbar-brand {
    font-family: 'Supermercado One', cursive;
    font-size: 400%;
}

.navbar-brand a, #myNavbar ul li * {
    color: rgb(136,136,136);
    text-decoration: none;
}

#myNavbar ul li *:hover {
    background-color: rgba(255, 255, 255, .5);
}

.navbar-header, #myNavbar {
    padding-top: 10px;
}

.divider {
    margin: 12px;
    border: .5px solid white;
    border-color: #9d9d9d;
    height: 25px;
    width: 1px;
}

.navlist {
    font-size: 13pt;
    /*margin: 0 3px;*/
    /*border: 1px solid black;*/
    /*border-radius: 5px;*/
}

#usernameAppFontSize {
    font-size: 13pt;
}


/*.navlist:hover {*/
/*    background-color: #66ffff;*/
/*}*/

/*Header Ends HERE */
/* body Starts HERE */


.hero {
    height: 650px;
    background-image: url('../img/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
}

#myCarousel {
    padding-top: 70px;
}

#getStartedBtn {
    text-decoration: none;
}


.item {
    height: 400px;
}

.item h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 160px;
    font-size: 50px;
    font-style: bold;
    color: white;
    text-shadow: 2px 2px black;
}

.start-button {
    display: block;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 0 !important;
    outline-color: none;
}

footer {
    height: 300px;
    background-color: white;
}

#copyright {
    text-align: center;
    padding: 15px;
}

.footdivider {
    margin: 12px;
    border: .5px solid white;
    border-color: #9d9d9d;
    height: 100px;
    width: 1px;
}

.grey-background {
    background-color: white;
}

.fa {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.fa:link{
    text-decoration: none;
}

.fa:visited{
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa:active{
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.footer-links-styles{
    color: black;
}

.footer-links-hover:link{
    text-decoration: none;
}

.footer-links-hover:visited{
    text-decoration: none;
}

.footer-links-hover:hover{
    opacity: 0.7;
    text-decoration: none;
}

.footer-links-hover:active{
    text-decoration: none;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.parallax{
    background-attachment: fixed;
    background-size: cover;
}