<% include partials/header %>

<div class="container-fluid">
    <div id="hero">
        <h1>Start keeping track today!</h1>
        <h3>Free 30-day trial</h3>
        <button class="btn-danger">Sign Up</button>
    </div>
</div>
<!--<h1>HOME</h1>-->
<!--<a href="/about">About</a>-->
<% include partials/footer %>
